.cell {
  padding: $box_spacing;
  margin: $box_spacing;
  background-color: $grey_dark;
  height: $box_size;
  min-width: $box_size;
  vertical-align: middle;
  line-height: $box_size;  
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.vehicles {
    width: 100%;
  }
  &.active {
    background-color: $blue;
  }
  
  &.years {
    position: relative;
    height: 200px;
    background-color: $grey_light;
    .year-cell {
      position: absolute;
      bottom: 15px;
      left: -3px;
      transform: rotate(-90deg);
    }
  }
}
