.table-container {
  display: flex;
  justify-content: center;

  /** styles for a x/y centered container **/
  .inner {
    width: 1200px;
    max-height: 717px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    @media (max-width: 1200px) {
      width: 100%;
      justify-content: center;
    }
  }

  .vehicles-col {
    width: 540px;
    overflow-y: scroll;
    @media (max-width: 1200px) {
      width: 35%;
    }
    @media (max-width: 414px) {
      width: 100px;
    }
  }
  
  .years-col {
    width: 660px;
    overflow-x: scroll;
    @media (max-width: 860px) {
      width: 100%;
    }
  }
  
  .row {
    display: flex;
  }
  
  .logo {
    height: 200px;
    background-color: $grey_light;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 714px) {
      background-size: 50%;
    }
  }

}
